.welcomeTitle{
    border: 1px grey solid;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px white;
    background-color: darkslateblue;
    color: white;

}
.welcomesubTitle{
    border: 1px grey outset;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    margin: auto;
    padding: 10px;
    box-shadow: 2px 2px 2px white;
    background-color: darkslateblue ;
    color: white;
}
.welcometitleSection{
    border: 1px darkslateblue outset;
}
.welcomeBody{
    margin-left: 15px;
}