<mat-card>
    <mat-card class="welcometitleSection">
        <mat-card-title class="welcomeTitle">Welcome To The Quiz App ! </mat-card-title>
        <br>
        <mat-card-subtitle class="welcomesubTitle">Select A Quiz To Take</mat-card-subtitle>
    </mat-card>
    <mat-list>
        <mat-list-item><a routerLink="/maths" ><button mat-raised-button color="primary">Math Quiz</button></a></mat-list-item>

        <mat-list-item><a routerLink="/presidents" ><button  mat-raised-button color="primary">US Presidential History Quiz</button></a></mat-list-item>

        <mat-list-item><a routerLink="/pcterms" ><button  mat-raised-button color="primary">Computing Terminology Quiz</button></a></mat-list-item>
    </mat-list>

</mat-card>
